__pycache__
lib
Prototype/logs
backup
pics
Prototype/notes
Prototype/models
Prototype/backups
*.ipynb
*.html
*.eps
*.png
*.txt
*.csv
.idea
# Prototype

# Paper specific
!network_sync.ipynb

# Added by cargo

/target

